<h1>All Wikis</h1>
<%= link_to "New Wiki", new_wiki_path, method: :get, class: 'btn btn-success' %>
<% @wikis.each do |wiki| %>
  <% if wiki.private? == false %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
      </div>
    </div>
  <% end %>
<% end %>
<% if current_user.admin? || current_user.premium? %>
  <h2>Private Wikis</h2>
  <% @wikis.each do |wiki| %>
    <%if wiki.private?%>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %>
          </h4>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
